.edu-text {
  margin-left: 60%;
  margin-top: -27%;
  width: 25%;
}

.text,
.edu-text {
  background: #222222;
  border-radius: 10px;
  color: rgb(241, 240, 240);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.text {
  margin-left: 2%;
  margin-right: 45%;
  margin-top: 3%;
}

.landing-btn {
  width: auto;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 3px;
  position: absolute;
  margin-top: -12%;
  margin-left: 67%;
  padding: 5px;
  color: rgb(241, 240, 240);
  background: linear-gradient(90deg, rgb(247, 231, 6), rgb(202, 119, 25));
  border-radius: 5px;
  transition: ease-out 0.3s;
}

.landing-btn:hover {
  cursor: pointer;
  color: black;
  transform: scale(0.9);
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .edu-text {
    margin-top: -37%;
  }
  .landing-btn {
    margin-top: -15%;
  }
}

@media only screen and (max-width: 980px) {
  .edu-text {
    margin-top: -33%;
  }
  .landing-btn {
    margin-top: -15%;
  }
  .edu-text,
  .text {
    font-size: 15px;
  }
  .landing-btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .edu-text {
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
  }
  .landing-btn {
    margin-top: -15%;
  }
  .edu-text,
  .text {
    font-size: 15px;
  }
  .landing-btn {
    font-size: 1.5rem;
    margin-top: -25%;
  }
}

@media only screen and (max-width: 600px) {
  .landing-btn {
    margin-left: 2%;
    margin-top: 18%;
    font-size: 15px;
    width: 90%;
  }
  .edu-text,
  .text {
    font-size: 10px;
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .landing-btn {
    margin-top: 25%;
  }
}
